@import url(../back.css);

:root {
  --div-color: rgba(60, 104, 62, 0.2);
  --item-color: rgba(60, 126, 63, 0.5);
  --text-color: rgba(57, 172, 63, 0.7);
}

html {
  overflow: hidden;
}

* {
  outline: none;
}

body {
  background: linear-gradient(to bottom, rgb(31, 31, 31), rgb(0, 71, 0)) no-repeat;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  user-select: none;
}

.diceContainer {
  background-color: var(--div-color);
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button#dice {
  background-color: var(--item-color);
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  width: 100px;
  aspect-ratio: 1;
  font-size: 200%;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  cursor: pointer;
}

button#dice.wiggle {
  width: 100px;
  aspect-ratio: 1;
  margin: -50px 0 0 -50px;
  position: absolute;
  font-size: 300%;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  animation: wiggle 150ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
